{{#each rowData}}
<form action="/" method="POST">
    <fieldset>
        <legend>Edit Entry</legend>
            <label for="name">Exercise Name</label>
            <input id="name" type="text" name="name" required value="{{this.name}}">
            <label for="reps">Reps</label>
            <input id="reps" type="number" name="reps" value="{{this.reps}}">
            <label for="weight">Weight</label>
            <input id="weight" type="number" name="weight" value="{{this.weight}}">
            <label for="date">Date</label>
            <input id="date" type="date" name="date" value="{{this.date}}">
            <label for="lbs">lbs</label>
            <input type="hidden" id="hid" value="{{this.lbs}}">
            <input type="radio" name="lbs" value=1>
            <label for="lbs">kgs</label>
            <input type="radio" name="lbs" value=0>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" id="submit" value="Submit">
    </fieldset>
</form>
{{/each}}